<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.statisticscompose">

    <application>
        <activity
            android:name=".activity.base.ComposeBaseActivity"
            android:label="@string/title_activity_compose_base"
            android:theme="@style/Theme.OrderApp.NoActionBar"></activity>
        <activity
            android:name=".activity.ComposeStatisticsMainActivity"
            android:label="@string/title_activity_compose_statistics_main"
            android:theme="@style/Theme.OrderApp.NoActionBar" />
    </application>

</manifest>